@import "./waybar/rose-pine.css";

* {
  /* reference the color by using @color-name */
  background: @base;
  border: none;
  border-radius: 0;
  font-family: "VictormMono Nerd Font";
  font-size: 13px;
  min-height: 0;
  color: @text;
}

#custom.suspend button {
	color: @love;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: @muted;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: @love;
    border-top: 2px solid @love;
}

#window {
	font-weight: bold;
	font-family: "VictorMono Nerd Font";
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode {
	padding: 0 10px;
	margin: 0 2px;
}

#custom-spotify {
	padding: 0 10px;
	margin: 0 2px;
	color: @gold;
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 30;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery {
}

#battery icon {
    color: red;
}

#battery.charging {
}

